body .mod_article {
    @media(min-width:1024px){ 
        padding-top: var(--space_top_desktop, var(--article_space_top)); 
        padding-bottom: var(--space_bottom_desktop, var(--article_space_bottom)); 
    }
    @media(max-width:1023px){ 
        padding-top: var(--space_top_mobile, var(--article_space_top)); 
        padding-bottom: var(--space_bottom_mobile, var(--article_space_bottom)); 
    }
}

body .mod_article:not(.has_inside) > *, body .mod_article.has_inside .inside > * {
    @media(min-width:1024px){ 
        padding-top: var(--space_top_desktop); 
        padding-bottom: var(--space_bottom_desktop); 
    }
    @media(max-width:1023px){ 
        padding-top: var(--space_top_mobile); 
        padding-bottom: var(--space_bottom_mobile); 
    }
}